*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin:auto;
}


.post{
	width: 500px;
    height: 400px;
    color:#fff;
    top:400px;
    left:350px;
    padding: 35px 30px;
	margin-bottom: 20px;
	margin-left: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-shadow: 8px 8px 50px -15px #ecf0f1;

}
.post a{
	color:#fff
}
.refute{
	width: 500px;
    height: 400px;
    color:#fff;
	top:400px;
	right:-200px;
    padding: 35px 30px;
	margin-bottom: 20px;
	margin-right: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-shadow: 8px 8px 50px -15px #ecf0f1;

}
.refute a{
	color:#fff
}

.logo img{
    width: 100px;
    float: left;
    height: auto;
    opacity: 0.4;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size:  14px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}


.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.welcome-text h1{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size:60px;
}
.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top:20px;
    display:inline-block;
    color:#fff;
}
.welcome-text a:hover{
    background:#fff;
}
header{ 
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("index.jpg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.wrap{
    width: 600px;
    height: 620px;
    color:#fff;
    top:50%;
    left: 50%;
    padding: 30px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px -15px #ecf0f1;
}
.container-fluid{
    text-align: center;
    color:#fff;
    top:50%;
    left: 50%;
    padding: 10px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
}
.paginator{
    text-align: center;
    color: #fff;
}
.card{
    width: 600px;
    height: 15px;
    color:#fff;
    top:50%;
    left: 50%;
    padding: 35px 30px;
    margin-bottom: 10px;
    position: relative;
    transform: translate(-50%,-50%);
    box-shadow: 8px 8px 50px -15px #ecf0f1;
}
/*button*/
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 10px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* Victoria Buttons */

a.animated-button.victoria-one {
	border: 2px solid #fff;
}
a.animated-button.victoria-one:after {
	background: #fff;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.victoria-two {
	border: 2px solid #fff;
}
a.animated-button.victoria-two:after {
	background: #fff;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.victoria-three {
	border: 2px solid #fff;
}
a.animated-button.victoria-three:after {
	background: #fff;
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
	height: 140%;
	opacity: 1;
}
a.animated-button.victoria-four {
	border: 2px solid #fff;
}
a.animated-button.victoria-four:after {
	background: #fff;
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
	opacity: 1;
	height: 600% !important;
}